body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
}

.project {
    background: #eee;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
    background: #333;
    padding: 10px 15px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
}
